<html>
	<head>
        <link rel="stylesheet" type="text/css" href='/static/style.css' />
        <title>Hero realms</title>
        <link rel="icon" href="../static/logo.png" type="image/icon type">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
	</head>
	<body id="body_start">
    <img src="../static/logo.png" alt="logo" />
    <div id="start">
        <form action="{{url_for('create')}}" method="get">
            <input type="submit" value="Hot-seat" class="button" id="button_start">
        </form>
        <form action="{{url_for('create_komputer')}}" method="get">
            <input type="submit" value="Z komputerem" class="button" id="button_start">
        </form>
    </div>

	</body>
</html>